.dashboard {
    background: #1B203A 0% 0% no-repeat padding-box;
    opacity: 1;
  
}
.header {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.dropdown-btn{
    background: #272B4A 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    border: none;
}
.dropdown-btn:hover {
    background: #272B4A 0% 0% no-repeat padding-box;
}
.dropdown-menu  {
    background:#272B4A 0% 0% no-repeat padding-box ;
}
.grid-box {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: minmax(180px,auto);
    margin-top: 50px;
    padding: 20px;
   }

.box {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #252C48;
}

.box1 {
    grid-column: span 1;
    grid-row: span 1;
}
.box2 {
    grid-column: span 1;
    grid-row: span 2;
}
.box3 {
    grid-column: span 1;
    grid-row: span 2;
}
.box4 {
    grid-column: span 1;
    grid-row: span 1;
}