.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    color: white;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
}
.title {
    display: flex;
    align-items: center;
    gap: 10px;
}