.navbar {
    background:#252C48 0% 0% no-repeat padding-box;
    opacity: 1;
}
.icon-span {
    background-color: #252C48;
}
.fa-search {
   color:#FEFEFE;
   background-color: #252C48;
}
.search-input {
   outline: none;
   border: none;
   box-shadow:none !important;
   width: 50%;     
   color: #fff!important;
}
.search-input::placeholder {
    color: #FEFEFE;
}
.fa-bell {
    color:#FEFEFE;
    padding-top: 8px;
}
.fa-users {
    color:#FEFEFE;
    font-size: 30px;
    border: 1px solid #FEFEFE ;
    border-radius: 50%;
}
.logo-div {
    gap: 30px;
}